@font-face {
  font-family: "MonumentValley12";
  src: local("Monument_Valley_1.2"), local("MonumentValley"), local("Monument Valley"), url(./MonumentValley12.woff2) format("woff2");
  font-display: swap;
}

:root,
:root.light {
  --text: #000;
  --background: #fff;
  --accent: #82c91e;
}

:root.dark {
  --text: #fff;
  --background: #000;
  --accent: #7d36e1;
}

* {
  box-sizing: border-box;
  cursor: none;
}

html,
body {
  background-color: var(--accent);
  transition: background-color 0.3s ease;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::selection {
  color: var(--background);
  background: var(--accent);
}

#cursor {
  position: fixed;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  z-index: 1000;
  mix-blend-mode: difference;
  pointer-events: none;
  opacity: 0;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#cursor.cursor-link {
  -webkit-transform: translate(-50%, -50%) scale(3);
  transform: translate(-50%, -50%) scale(3);
}

#toggle {
  position: fixed;
  top: 1rem;
  left: calc(50% + -50px);
}

#toggle input[type="checkbox"] {
  display: none;
}

#toggle span {
  border: 2px solid var(--text);
  border-radius: 50px;
  display: inline-block;
  position: relative;
  transition: all ease-in-out 0.3s;
  width: 100px;
  height: 50px;
  transition: border-color 0.3s ease;
}

#toggle span::after {
  background-color: var(--accent);
  border-radius: 50%;
  content: "";
  cursor: none;
  display: inline-block;
  position: absolute;
  left: 3px;
  top: 3px;
  transition: all ease-in-out 0.4s;
  width: 40px;
  height: 40px;
}

#toggle input[type="checkbox"]:checked ~ span::after {
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  transition: background-color 0.3s ease;
}

main h1 {
  font-family: "MonumentValley12";
  font-size: 10rem;
  margin: 3rem 0;
  text-align: justify;
  white-space: nowrap;
  display: inline-block;
  color: var(--text);
  transition: color 0.3s ease;
}

span {
  display: inline-block;
  transition: -webkit-transform 0.7s cubic-bezier(0.1, 0.2, 0.7, 3);
  transition: transform 0.7s cubic-bezier(0.1, 0.2, 0.7, 3);
  transition: transform 0.7s cubic-bezier(0.1, 0.2, 0.7, 3),
    -webkit-transform 0.7s cubic-bezier(0.1, 0.2, 0.7, 3);
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-size: 2rem;
  line-height: 2rem;
  margin-left: 2rem;
}

li {
  padding-left: 1em;
  text-indent: -1em;
  margin-bottom: 1rem;
  display: block;
  position: relative;
  color: var(--accent);
  transition: color 0.3s ease;
  float: left;
  clear: left;
}

li:before {
  content: "❯";
  padding-right: 8px;
}

li a {
  text-decoration: none;
  color: var(--text);
  transition: color 0.3s ease;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

a:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

a:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

@media screen and (max-width: 600px) {
  main h1 {
    font-size: 6rem;
  }

  ul {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  li a {
    font-size: 1.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fff;
    --background: #000;
    --accent: #7d36e1;
  }
}
