@font-face {
  font-family: "MonumentValley12";
  src: url(./MonumentValley12.woff2) format("woff2");
}

:root {
  --text: #000;
  --background: #fff;
  --accent: #82c91e;
}

[data-theme="dark"] {
  --text: #fff;
  --background: #000;
  --accent: #7d36e1;
}

html, body {
  background-color: var(--accent);
} 

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  cursor: none;
}

::selection {
  color: var(--background);
  background: var(--accent);
}

#cursor {
  position: fixed;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  z-index: 1000;
  mix-blend-mode: difference;
  pointer-events: none;
  opacity: 0;
  transition: transform 0.3s ease;
  transform: translate(-50%, -50%);
}

#cursor.cursor-link {
  transform: translate(-50%, -50%) scale(3);
}

#toggle {
  position: fixed;
  top: 1rem;
  left: calc(50% + -50px);
}

#toggle input[type="checkbox"] {
  display: none;
}

#toggle span {
  border: 2px solid var(--text);
  border-radius: 50px;
  cursor: none;
  display: inline-block;
  position: relative;
  transition: all ease-in-out 0.3s;
  width: 100px;
  height: 50px;
  box-sizing: border-box;
}

#toggle span::after {
  background-color: var(--accent);
  border-radius: 50%;
  content: "";
  cursor: none;
  display: inline-block;
  position: absolute;
  left: 3px;
  top: 3px;
  transition: all ease-in-out 0.3s;
  width: 40px;
  height: 40px;
}

#toggle input[type="checkbox"]:checked ~ span::after {
  transform: translateX(50px);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--background);
}

main h1 {
  font-family: "MonumentValley12";
  font-size: 10rem;
  margin: 3rem 0;
  text-align: justify;
  white-space: nowrap;
  box-sizing: border-box;
  display: inline-block;
  color: var(--text);
}

span {
  display: inline-block;
  transition: transform 0.7s cubic-bezier(0.1, 0.2, 0.7, 3);
}

span.explode {
  transform: scale(1.1);
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-size: 2rem;
  line-height: 2rem;
  margin-left: 2rem;
}

li {
  padding-left: 1em;
  text-indent: -1em;
  margin-bottom: 1rem;
  display: block;
  position: relative;
  color: var(--accent);
  float: left;
  clear: left;
}

li:before {
  content: "❯";
  padding-right: 8px;
}

li a {
  text-decoration: none;
  color: var(--text);
  font-family: sans-serif;
  font-weight: 300;
  font-size: 2rem;
  cursor: none;
}

a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 600px) {
  main h1 {
    font-size: 6rem;
  }

  ul {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  li a {
    font-size: 1.5rem;
  }
}

