body {
  margin: 0;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  background-color: black;
}

#cent-wrapper {
  width: 100%;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 40vh;
}